/**
    TOASTERS CONTAINER
 */
.toasters-container {
    position: absolute;
}

.toasters-container-bottom-left {
    bottom: 0;
    left: 0;
}

.toasters-container-bottom-right {
    bottom: 0;
    right: 0;
}

.toasters-container-top-left {
    left: 0;
    top: 0;
}

.toasters-container-top-right {
    top: 0;
    right: 0;
}

/**
    TOASTS
 */
.toast {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px 10px;
    width: 300px;
}

.toast.active {
    opacity: 1;
}

.toast.toast-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.toast.toast-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.toast.toast-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.toast.toast-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.toast .clear-both {
    clear: both;
}

.toast-message {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 40px);
}

.toast-controls {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    width: 30px;
}

.toast-controls button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    outline: none;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    width: 20px;
}

.toast-controls button:hover {
    color: white;
}
